body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.login-page {

    width: 100%;
    height: 100vh;
    background-image: url('/pic/background-login.jpg');
    background-size: cover;
    background-position: center;
}

.login-page-logo {
    font-size: 3.5rem;
    margin: 0;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login-box {
    width: 25%;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.login-box-title {
    font-size: 23px;
    font-weight: 500;
}

.login-box-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.login-box-form label {
    font-size: 20px;
}

.f-l-name {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.f-l-name input[type=text] {
    width: 100%;
    height: 2rem;
}

.f-l-f {

}

.f-l-l {

}

.login-box-form label {

}

.login-box-form input[type=tel],
.login-box-form input[type=email],
.login-box-form input[type=password]
{
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
}


.login-box-form input[type=submit] {
    width: 98%;
    height: 2rem;
    margin: 2rem auto;
    box-sizing: content-box;
    background-color: #0055D9;
    border: none;
    border-radius: 5px;
}

.login-papge-forget {
    font-size: 19px;
    text-decoration: none;
    color: #0055D9;
}

.login-box-join {
    font-size: 19px;
    text-decoration: none;
    color: #0055D9;
}

.login-box-join-title {
    font-size: 21px;
    font-weight: bold;
}

.login-box-join-link {
    font-weight: 100;
    text-decoration: none;
    color: #0055D9;
}

.login-box-hr {
    width: 35%;
}
