.additional-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-questions {
    width: 65%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.about-questions h3 {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.4px;
    line-height: 24px;
    margin: 0px;
}

/* Start note or screen advice */

/* note */

.about-questions-note {
    position: relative;
    width: 96%;
    border-width: 1px;
    border-style: solid;
    padding: 12px;
    border-radius: 4px;
    font-size: 14px;
    color: rgb(0, 50, 127);
    background-color: rgb(230, 239, 255);
    border-color: rgb(179, 209, 255);
    margin-bottom: 24px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    cursor: pointer;
}

.about-questions-note .about-questions-note-mic {
    width: 40px;
}

.about-questions-note p {
    line-height: 21px;
}

.about-questions-note .about-questions-note-x {
    position: relative;
    bottom: 25px;
}

/* advice */

.about-questions-advice {
    width: 94%;
    display: flex;
    flex-direction: column;
}

.about-questions-advice-p1 {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.27px;
    line-height: 19px;
    color: rgb(128, 142, 165);
    margin-top: 4px;
    margin-bottom: 16px;
}

.about-questions-advice-p2 {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.35px;
    line-height: 22px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 3px 0px 18px;
}

/* Start note or screen advice */


/* Start Questions */

.questions {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.questions .question {
    position: relative;
    width: 96%;
    background: rgb(247, 250, 255);
    border: 1px solid rgb(217, 221, 228);
    padding: 20px 16px 20px 12px;
    margin-bottom: 16px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.questions .question .q-style {
    
}

.questions .question .ques {
    margin: 0 0 0 0rem;
    text-align: center;
}

.question-actions {
    position: absolute;
    right: 15px;
    display: flex;
    gap: 1rem;
}

.question-actions svg {
    cursor: pointer;
}

/* Add Question */

.about-questions-add {
    display: flex;
    flex-direction: column;
    width: 94%;
    gap: 1rem;
}

.about-questions-add-ask-delete-ask {
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    padding: 0px 12px;
    display: none;
    flex-direction: column;
}

.about-questions-add-ask-delete-ask-disappear {
    display: block;
}

.about-questions-add-ask-delete-container {
    background: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 24px;
    width: 405px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.about-questions-add-ask-delete-p {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.4px;
    margin: 0px 0px 13px;
    text-align: left;
    line-height: 24px;
    align-self: start;
}

.about-questions-add-ask-delete-actions {
    align-self: end;
}

/* Start preview question */

.preview {
    height: 100vh;
    width: 35%;
    position: fixed;
    top: 70px;
    right: -610px;
    transition:  0.2s ease;
    opacity: 0;
}

.preview-appearing {
    right: 0;
    opacity: 1;
}

.preview-top {
    width: 100%;
    height: 52px;
    background-color: rgb(0, 85, 217);
    z-index: 1;
    position: sticky;
    display: flex;
    justify-content: space-between;
}

.preview-title {
    display: flex;
    align-items: center;
    margin: 0 0 0 1rem;
}

.preview-top-x {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s, border-color 0.2s ease 0s;
    line-height: 32px;
    color: rgb(77, 97, 130);
    background-color: transparent;
    min-height: auto;
    min-width: auto;
    padding: 8px;
    vertical-align: middle;
}

.preview-title svg {

}

.preview-title span {
    margin: 0px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    height: 52px;
    line-height: 52px;
    padding: 16px;
    font-weight: 600;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    letter-spacing: -0.45px;
}

.preview-show {
    padding: 24px 32px 24px 16px;
    overflow-y: auto;
    background: rgb(255, 255, 255);
    height: 100%;
}

.preview-show-text {

}

.preview-show-text-job-title {
    font-size: 20px;
    letter-spacing: -0.5px;
    font-weight: 500;
    margin: 0px 0px 4px;
}

.preview-show-questions-p {
    margin: 0px 0px 12px;
    font-size: 14px;
    font-weight: 600;
}

.preview-show-text-p {
    margin: 0px;
    font-size: 13px;
    letter-spacing: -0.4px;
    line-height: 20px;
}

.preview-show-questions {
    padding: 0 0 10rem;
}

.preview-show-questions-question {
    margin-top: 1rem;
}

.preview-show-questions-question-p {

}

.preview-show-questions-question textarea {
    cursor: not-allowed;
    border-color: rgb(217, 221, 228);
    opacity: 0.5;

    color: rgb(13, 41, 85);
    background-color: rgb(250, 250, 251);
    border: 1px solid rgb(217, 221, 228);
    border-radius: 2px;
    width: 100%;
    letter-spacing: -0.47px;
    line-height: 20px;
    font-size: 15px;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s, border-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
    padding: 8px;
    max-height: 60px;
    min-height: 60px;
    overflow-y: auto;
    vertical-align: top;
    resize: vertical;
}

/* End preview question */

.about-questions-add-question {
    width: 100%;
    background: rgb(247, 250, 255);
    border: 1px solid rgb(217, 221, 228);
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-questions-add-question .ques-type {

}

.about-questions-add-question .ques-type-p {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.35px;
    line-height: 22px;
    margin: 0px 0px 8px;
}

.about-questions-add-question .try {
    font-size: 12px;
    font-weight: 600;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 4px;
    border-radius: 2px;
    max-width: 196px;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
    text-overflow: ellipsis;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 51, 102);
    margin-left: 4px;
    line-height: 17px;
    height: 12px;
    min-height: auto;
    letter-spacing: 0px;
    padding: 2px;
}

.about-questions-add-buttons {

}

.about-questions-add-buttons .selected {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    padding: 0px 12px;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    cursor: pointer;
    min-width: 80px;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s, border-color 0.2s ease 0s;
    min-height: 40px;
    line-height: 32px;
    color: rgb(0, 85, 217);
    background-color: rgb(217, 232, 255);
    white-space: nowrap;
    border-color: rgb(128, 178, 255);
}

.about-questions-add-buttons .selected:hover {
    background-color: rgb(204, 224, 255);
}

.about-questions-add-buttons .not-selected {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    padding: 0px 12px;
    border: 1px solid rgb(217, 221, 228);
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    cursor: pointer;
    min-width: 80px;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s, border-color 0.2s ease 0s;
    min-height: 40px;
    line-height: 32px;
    color: rgb(77, 97, 130);
    background-color: rgb(235, 237, 240);
}

.about-questions-add-buttons .not-selected:hover {
    background-color: rgb(217, 221, 228);
}

.about-questions-add-question .the-question {

}

.about-questions-add-question textarea {
    color: rgb(13, 41, 85);
    background-color: rgb(250, 250, 251);
    border: 1px solid rgb(217, 221, 228);
    border-radius: 2px;
    width: 97%;
    letter-spacing: -0.47px;
    line-height: 20px;
    font-size: 15px;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s, border-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
    padding: 8px;
    max-height: 60px;
    min-height: 60px;
    overflow-y: auto;
    vertical-align: top;
    resize: vertical;
}

.about-questions-add-question .the-question-count {
    font-size: 12px;
    float: right;
    margin-left: 0.5em;
    margin-top: 6px;
    color: rgb(128, 142, 165);
}

.about-questions-add-question .about-questions-add-actions {
    display: flex;
    gap: 8px;
    direction: rtl;
}

.about-questions-add-question-buttons {
    display: flex;
    gap: 8px;
}

.about-questions-add-question-buttons-enough {
    opacity: 0.25;
    cursor: not-allowed;
}

/* End Add Question */

/* End Questions */

/* Start Table Question */

.table-questions {
    width: 100%;
}

.table-questions-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.table-questions-top-title {

}

.table-questions-top-filter-question {
    display: flex;
    gap: 5px;
}

.filter-question-selected {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    padding: 0px 12px;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s, border-color 0.2s ease 0s;
    min-height: 40px;
    line-height: 32px;
    color: rgb(0, 85, 217);
    background-color: rgb(217, 232, 255);
    min-width: 41px;
    width: 41px;
    border-color: rgb(128, 178, 255);
}

.table-questions-top-filter-question button {
    width: fit-content;
}

.table-questions-top-filter-question .selected-button {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    padding: 0px 12px;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s, border-color 0.2s ease 0s;
    min-height: 40px;
    line-height: 32px;
    color: rgb(0, 85, 217);
    background-color: rgb(217, 232, 255);
    min-width: 41px;
    width: 41px;
}

/* select question */

.table-questions-select-question {
    max-height: 316px;
    overflow-y: auto;
    box-shadow: -1px 4px 9px -6px inset;
}

.table-questions-select-question-ques {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.35px;
    line-height: 22px;
    margin: 0px 0px 8px;
    max-width: 734px;
    border-radius: 2px;
    padding: 8px 24px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(239, 238, 248);
    border: 1px solid rgb(178, 169, 223);
    cursor: pointer;
}

.table-questions-select-question-ques-enough {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.35px;
    line-height: 22px;
    margin: 0px 0px 8px;
    max-width: 734px;
    border-radius: 2px;
    padding: 8px 24px;
    background: rgb(250, 250, 251);
    border: 1px solid rgb(235, 237, 240);
    cursor: not-allowed;
    color: rgb(102, 120, 147);
}

/* End Table Question */

/* Start Job Options */

.job-options {
    width: 65%;
    margin-top: 1rem;
}

.jobo-options-title {

}

.company-confidential {

}

.company-confidential-input {
    display: flex;
    gap: 1rem;
}

.company-confidential-input input {
    width: 16px;
}

.company-confidential-input p {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.35px;
    line-height: 22px;
}

.company-confidential-p {
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.3px;
    line-height: 20px;
    color: rgb(128, 142, 165);
    margin: 0px 39px 12px;
}

.send-email {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.send-email-input {
    display: flex;
    gap: 1rem;
}

.send-email-input input {
    width: 16px;
}

.send-email-input p {

}

.send-email-radio {

}

.send-email-radio label {

}

.send-email-radio input {

}

.recipient-email {
    
}

.recipient-email .title {
    color: rgb(0, 20, 51);
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.86px;
}

.recipient-email .email-editor {
    display: flex;
    gap: 1rem;
}

.email-editor-input {
    color: rgb(13, 41, 85);
    background-color: rgb(250, 250, 251);
    border: 1px solid rgb(217, 221, 228);
    border-radius: 2px;
    width: 45%;
    letter-spacing: -0.47px;
    line-height: 20px;
    font-size: 15px;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s, border-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
    padding: 10px 8px;
    height: 15px;
    max-width: 360px;
}


.recipient-email button {
    color: rgb(0, 85, 217);
    cursor: pointer;
    font-size: 14px;
    border: none;
    background: transparent;
    padding-left: 0px;
}

.recipient-email .edit {

}

/* End Job Options */

/* Start Advanced */

.advanced {
    width: 65%;
    margin-top: 1rem;
    position: relative;
}

.advanced-left {

}

.advanced-left .title {

}

.advanced-left p {
    color: rgb(128, 142, 165);
    margin: 0px;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.3px;
    line-height: 20px;
}

.advanced svg {
    position: relative;
    left: 710px;
    bottom: 75px;
}

.advanced .svg-clicked {
    position: relative;
    left: 710px;
    bottom: 95px;
}

.avanced-selects {

}

.avanced-selects-title {
    color: rgb(0, 20, 51);
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.86px;
}

.avanced-selects-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.avanced-selects-container .not-selected {
    background-color: rgb(250, 250, 251);
    border: 1px solid rgb(235, 237, 240);
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 70px;
    cursor: pointer;
    text-align: center;
}

.selects-selected {
    border: 1px solid rgb(77, 147, 255);
    line-height: 20px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    user-select: none;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    border-radius: 2px;
    outline: none;
    text-align: center;
    max-width: 180px;
    padding: 12px;
    background: rgb(230, 239, 255);
    width: 137px;
    height: 47px;
}

.advanced-academic {

}

.advanced-academic-input {
    width: 200px;
    display: flex;
    align-items: center;
    margin: 2rem 0 1px;
}

.advanced-academic-input input {
    width: 16px;
}

.advanced-academic-input p {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.35px;
    line-height: 22px;
    margin: 0 0 0 15px;
}

.advanced-academic-p {
    color: rgb(128, 142, 165);
    margin: 0px;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.27px;
    line-height: 19px;
    margin-left: 37px;
}

/* End Advanced */

/* Start Buttons */

.additional-buttons {
    width: 69%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.additional-buttons .right {

}

/* End Buttons */