.managing {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border: 1px solid rgb(217, 221, 228);
    margin-top: 2rem;
    padding: 2rem;
}

.managing-links {
    width: 100%;
    display: flex;
    position: relative;
}

.managing-link-non-active {
    padding: 20px 12px;
    width: 50%;
    border-top: 1px solid rgb(217, 221, 228);
    border-bottom: 1px solid rgb(217, 221, 228);
    border-left: 1px solid rgb(217, 221, 228);
    background-color: rgb(235, 237, 240);
    text-align: center;
    text-decoration: none;
    color: rgb(0, 20, 51);
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    user-select: none;
    text-transform: uppercase;
}

.managing-link-active {
    padding: 25.5px 12px;
    border-bottom: none;
    border-top: 1px solid rgb(217, 221, 228);
    border-right: 1px solid rgb(217, 221, 228);
    border-left: 1px solid rgb(217, 221, 228);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 85, 217);
    cursor: auto;
    width: 50%;
    position: relative;
    top: -10px;
    display: flex;
    justify-content: center;
}

.managing-jobs {
    width: 100%;
}

.managing-jobs-no-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.managing-jobs-no-content img {

}

.managing-jobs-no-content p {
    margin-bottom: 12px;
    margin-top: 24px;
    color: rgb(77, 97, 130);
    font-size: 24px;
    letter-spacing: -0.6px;
    line-height: 28px;
}

.managing-jobs-no-content button {

}

/* search bar */

.managing-jobs-search-bar {

}

.managing-jobs-search-bar-box {

}

.managing-jobs-search-bar-box input {
    height: 30px;
    padding-right: 45px;
    padding-left: 8px;
    font-size: 14px;
}

.managing-jobs-between {
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(217, 221, 228);
    /* border-right: 1px solid rgb(217, 221, 228); */
    /* border-left: 1px solid rgb(217, 221, 228); */
    border-bottom: 1px solid rgb(217, 221, 228);
    border-image: initial;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 40px;
    margin-top: 3rem;
    width: 100%;
    height: 4rem;
}



.managing-jobs-search-bar-box svg {

}

/* end search */

/* start draft */

.managing-jobs-draft-jobs {
    border-top: 1px solid rgb(217, 221, 228);
    border-bottom: 1px solid rgb(217, 221, 228);
    margin-top: 3rem;
    position: relative;
}

.managing-jobs-draft-jobs-title {
    color: rgb(77, 97, 130);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    bottom: 19px;
    left: 40%;
    background-color: white;
    padding: 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.managing-jobs-draft-jobs-boxs {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.managing-jobs-draft-jobs-boxs .box {
    width: 100%;
    margin-bottom: 12px;
    background: rgb(255, 251, 243);
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid rgb(255, 230, 128);
    border-radius: 2px;
    padding: 15px 20px;
    margin-top: 1rem;
}

.managing-jobs-draft-jobs-boxs .box .box-about-job {
    display: flex;
    flex-direction: column;
}

.managing-jobs-draft-jobs-boxs .box .box-about-job p {
    margin: 0;
}

.managing-jobs-draft-jobs-boxs .box .box-about-job .box-about-job-title {
    text-decoration: none;
    color: rgb(0, 20, 51);
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    word-break: break-word;
    display: inline;
    margin: 0px 4px 0px 0px;
}

.managing-jobs-draft-jobs-boxs .box .box-about-job .box-about-job-info {
    color: rgb(77, 97, 130);
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 4px;
}

.managing-jobs-draft-jobs-boxs .box .box-about-job .box-about-job-info .information {
    margin: 8px 0;
}

.managing-jobs-draft-jobs-boxs .box .box-about-job .box-about-job-info .date-created {

}

.managing-jobs-draft-jobs-boxs .box .box-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
    border-top: 1px solid rgb(217, 221, 228);
    position: relative;
}

.managing-jobs-draft-jobs-boxs .box .box-actions p {
    margin: 0;
}

.managing-jobs-draft-jobs-boxs .box .box-actions .action {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.managing-jobs-draft-jobs-boxs .box .box-actions .action p {

}

.managing-jobs-draft-jobs-boxs .box .box-actions .action svg {

}

.managing-jobs-draft-jobs-show-more {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(204, 224, 255);
    border-radius: 2px;
    background-color: rgb(235, 242, 255);
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.47px;
    color: rgb(0, 85, 217);
    text-transform: capitalize;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: auto;
    margin-bottom: 2rem;
}

.managing-jobs-draft-jobs-show-more:hover {
    cursor: pointer;
    border-color: rgb(191, 216, 255);
    background-color: rgb(230, 239, 255);
}

/* end draft */

/* boxs */

.managing-jobs-boxs {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.managing-jobs-boxs .box {
    width: 80%;
    height: 10rem;
    background: rgb(252, 253, 255);
    border: 1px solid rgb(191, 216, 255);
    display: flex;
}

/* right */

.box .box-right {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
}

.box .box-right .title-type {
    text-decoration: none;
    color: rgb(0, 20, 51);
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    word-break: break-word;
    display: inline;
    margin: 0px 4px 0px 0px;
}

.box .box-right .title-type span {
    align-items: center;
    margin-right: 4px;
    border-radius: 2px;
    max-width: 196px;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
    text-overflow: ellipsis;
    background-color: rgb(235, 237, 240);
    color: rgb(0, 20, 51);
    display: inline;
    font-size: 10px;
    line-height: 14px;
    font-style: italic;
    text-transform: capitalize;
    font-weight: inherit;
    min-height: 18px;
    padding: 2px 4px;
}

.box .box-right .location {
    color: rgb(77, 97, 130);
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 4px;
}

.box .box-right .created {
    margin-right: 4px;
    color: rgb(77, 97, 130);
    font-size: 12px;
    line-height: 18px;
}

.box .box-right .views-applicants {
    color: rgb(77, 97, 130);
    font-size: 12px;
    line-height: 16px;
    margin-top: 12px;
}

/* button */

.box-edit {
    background-color: rgb(245, 248, 255);
    border: 1px solid rgb(217, 232, 255);
    height: 32px;
    width: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-right: 1rem;
    position: relative;
}

.box-edit:hover .box-edit-show {
    display: flex;
}

.box-edit-show {
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
    border-radius: 3px;
    user-select: none;
    width: 115px;
    position: absolute;
    top: 34px;
    left: -1px;
    display: none;
    flex-direction: column;
    z-index: 1;
}

.box-edit-show a {
    color: rgb(0, 20, 51);
    font-size: 17px;
    font-family: "Open Sans";
    letter-spacing: -0.44px;
    line-height: 21px;
    padding: 8px 12px 7px;
    cursor: pointer;
    text-transform: capitalize;
}

.box-edit-show a:hover {
    background: rgb(230, 239, 255);
}

.box-edit-show .delete {
    border-top: 1px solid rgb(235, 237, 240);
}

/* end button */

/* left */

.box-left {
    margin-top: 2rem;
    margin-right: 1rem;
}

.box-left-links {
    display: flex;
    border: 1px solid rgb(217, 221, 228);
    background-color: rgb(255, 255, 255);
}

/* box links  */

.box-left-links .inbox:hover {
    background: rgb(217, 232, 255);
}

.box-left-links .ok:hover,
.box-left-links .shortlisted:hover,
.box-left-links .--:hover
{
    background: rgb(224, 242, 235);
}

.box-left-links .hired:hover {
    background: rgb(255, 247, 217);
}

.box-left-links .inbox,
.box-left-links .ok,
.box-left-links .shortlisted,
.box-left-links .--
{
    position: relative;
    width: 80px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    gap: 1rem;
}

.box-left-links .inbox::after,
.box-left-links .ok:after,
.box-left-links .shortlisted::after,
.box-left-links .--::after
 {
    content: " ";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    top: 0px;
    right: -11.8px;
    border-left: 12px solid rgb(255, 255, 255);
    border-top: 33px solid transparent;
    border-bottom: 33px solid transparent;
    z-index: 1;
}

.box-left-links .inbox::before,
.box-left-links .ok::before,
.box-left-links .shortlisted::before,
.box-left-links .--::before
 {
    content: " ";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    top: 0px;
    left: 104.8px;
    border-left: 12px solid rgb(217, 221, 228);
    border-top: 33px solid transparent;
    border-bottom: 33px solid transparent;
}

/* end box links */

.box-left-links .link {
    position: relative;
    width: 80px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    gap: 1rem;
}

.box-left-links .hired {
    width: 80px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    gap: 1rem;
}

.box-left-links .link::after {
    content: " ";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    top: 0px;
    right: -11.8px;
    border-left: 12px solid rgb(255, 255, 255);
    border-top: 33px solid transparent;
    border-bottom: 33px solid transparent;
    z-index: 1;
}

.box-left-links .link::before {
    content: " ";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    top: 0px;
    left: 104.8px;
    border-left: 12px solid rgb(217, 221, 228);
    border-top: 33px solid transparent;
    border-bottom: 33px solid transparent;
}
.box-left-links .link .link-top {
    display: flex;
    gap: 2rem;
}

.box-left-links .link span {

}

.box-left-links .link svg {

}

.box-left-links .link .link-down {

}

/* end boxs */

/* Internships */

