/* livewire */

.job-type-selected {
    border: 1px solid rgb(77, 147, 255);
    line-height: 20px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    user-select: none;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    border-radius: 2px;
    outline: none;
    text-align: center;
    max-width: 180px;
    padding: 12px;
    background: rgb(230, 239, 255);
    height: 50px;
    min-width: unset;
    margin-bottom: 8px;
}

.CareerLevelSelected {
    border: 1px solid rgb(77, 147, 255);
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    border-radius: 2px;
    max-width: 180px;
    min-height: 66px;
    background: rgb(230, 239, 255);
    margin-bottom: 8px;
}

/* end livewire */

.post-job {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: auto;
}

.post-job .title {
    color: rgb(0, 20, 51);
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 32px;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: -0.7px;
}

.post-internship-p {
    width: 404px;
    font-size: 12px;
    line-height: 19px;
    color: rgb(77, 97, 130);
    margin: 8px auto 0px;
    text-align: center;
}

.post-job .clone-previous-post {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    cursor: pointer;
    min-width: 80px;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s, border-color 0.2s ease 0s;
    min-height: 32px;
    line-height: 22px;
    color: rgb(0, 85, 217);
    background-color: rgb(217, 232, 255);
    margin-top: 8px;
    height: 40px;
    padding: 0px;
    width: 200px;
}

.steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.job-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job-info::after {
    content: "";
    background: rgb(217, 221, 228);
    height: 2px;
    width: 67%;
    display: inline-block;
    position: absolute;
    right: 82px;
    top: 25px;
}

.job-info-number {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    font-size: 13px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    transition: background-color 0.5s ease 0s;
    letter-spacing: -0.41px;
    background: rgb(0, 85, 217);
}

.job-info-title {
    display: inline-block;
    margin-top: 8px;
    width: 112px;
    text-align: center;
    font-size: 11px;
    line-height: 15px;
    font-weight: 600;
    transition: color 0.5s ease 0s;
    letter-spacing: -0.34px;
}

.application-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.application-form-number {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    font-size: 13px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    transition: background-color 0.5s ease 0s;
    letter-spacing: -0.41px;
    background: rgb(77, 97, 130);
}

.application-form-title {
    color: rgb(102, 120, 147);
    display: inline-block;
    margin-top: 8px;
    width: 112px;
    text-align: center;
    font-size: 11px;
    line-height: 15px;
    font-weight: 600;
    transition: color 0.5s ease 0s;
    letter-spacing: -0.34px;
}

.box-style-job {
    width: 95%;
    background-color: white;
    padding: 1.5rem;
    border: 1px solid rgb(217, 221, 228);
}

.box-post-type {

}

.post-type-title {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.4px;
    margin-top: 0px;
    margin-bottom: 16px;
}

.post-types {
    display: flex;
    gap: 10px;
}

.types-job label {
    color: rgb(0, 20, 51);
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.86px;
    margin-top: 1rem;
}

.types-job label span {
    color: rgb(128, 142, 165);
    font-size: 13px;
    letter-spacing: -0.4px;
    line-height: 20px;
    margin-left: 5px;
}


.box-job-details {

}



.types-job-typs {
    margin: 1rem 0;
}

.types-job-typs .type {
    display: inline-flex;
    align-items: center;
    margin-right: 12px;
    border-radius: 2px;
    border: 1px solid rgb(235, 237, 240);
    margin-bottom: 12px;
    background-color: rgb(250, 250, 251);
    outline: none;
    box-shadow: none;
    transition: all 0.2s ease 0s;
    font-size: 15px;
    padding: 10px 12px;
    cursor: pointer;
    text-align: left;
}

.type-true {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid rgb(77, 147, 255);
    margin-bottom: 8px;
    outline: none;
    box-shadow: none;
    transition: all 0.2s ease 0s;
    font-size: 15px;
    padding: 8px 12px 9px;
    cursor: pointer;
    text-align: left;
    background-color: rgb(230, 239, 255);
    color: rgb(0, 85, 217);
}

.line {
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(235, 237, 240);
}

.job-category label {
    color: rgb(0, 20, 51);
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.86px;
}

.job-category label span {
    color: rgb(128, 142, 165);
    font-size: 13px;
    letter-spacing: -0.4px;
    line-height: 20px;
    margin-left: 5px;
}

.job-category label span::before {
    content: "—";
    margin-right: 5px;
}

.job-category select {
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    background: rgb(250, 250, 251);
    border: 1px solid rgb(217, 221, 228);
    padding: 5px 8px;
    min-width: 80%;
}

.box-job-details .location {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.career {
    display: flex;
    flex-direction: column;
}

.career-level-title {
    color: rgb(0, 20, 51);
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.86px;
}

.career-levels {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.box-job-details .experience {

}

.box-job-details .experience-title {
    color: rgb(0, 20, 51);
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.86px;
}

.box-job-details .experience .experience-p {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.35px;
    line-height: 22px;
}

.box-job-details .experience .experience-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.box-job-details .experience .experience-container div {

}

.box-job-details .experience .experience-container div label {
    
}

.box-job-details .experience .experience-container div select {
    border-radius: 2px;
    cursor: default;
    min-height: 40px;
    outline: none;
    background: rgb(250, 250, 251);
    border: 1px solid rgb(217, 221, 228);
    padding: 5px 8px;
    min-width: 100px;
}

/* Salary Range */

.salary-range {

}

.salary-range-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.salary-range-p {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.35px;
    line-height: 22px;
}

.salary-range-container div {

}

.salary-range-container div input {

}

.salary-range-change {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.35px;
    line-height: 22px;
}

.salary-range-change button {
    color: rgb(0, 85, 217);
    cursor: pointer;
    font-size: 14px;
    border: none;
    background: transparent;
}

.salary-range-hide {

}

.salary-range-hide-input {

}

.salary-range-hide-input input {
    border: 1px solid rgb(217, 221, 228);
    height: 16px;
    width: 16px;
    min-width: 16px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
}

.salary-range-hide-input input label {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.35px;
    line-height: 22px;
}

.salary-range-hide-p {
    color: rgb(128, 142, 165);
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.3px;
    line-height: 20px;
    margin: 0 0 0 27px;
}

.salary-range-additional-salary {
    width: 290px;
    display: flex;
    flex-direction: column;
}

.salary-range-additional-salary-span {
    color: rgb(128, 142, 165);
    font-size: 13px;
    letter-spacing: -0.4px;
    line-height: 20px;
    margin-left: 5px;
}

.salary-range-additional-salary-span::before {
    content: "—";
    margin-right: 5px;
}

.salary-range-additional-salary textarea {
    color: rgb(13, 41, 85);
    background-color: rgb(250, 250, 251);
    border: 1px solid rgb(217, 221, 228);
    border-radius: 2px;
    width: 100%;
    letter-spacing: -0.47px;
    line-height: 20px;
    font-size: 15px;
    padding: 8px;
    max-height: 65px;
    min-height: 60px;
    overflow-y: auto;
    vertical-align: top;

}

.salary-range-additional-salary .count {
    font-size: 12px;
    float: right;
    margin-left: 0.5em;
    margin-top: 6px;
    color: rgb(128, 142, 165);
    text-align: end;
}

/* number */

.number {
}

.number .number-container {
    display: flex;
}

.number .number-container button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 0px 10px;
    border-top: 1px solid rgb(217, 221, 228);
    border-bottom: 1px solid rgb(217, 221, 228);
    border-left: 1px solid rgb(217, 221, 228);
    border-image: initial;
    text-decoration: none;
    text-align: center;
    user-select: none;
    cursor: pointer;
    min-height: 37px;
    line-height: 32px;
    color: rgb(77, 97, 130);
    background-color: rgb(235, 237, 240);
    border-right: none;
    border-radius: 2px 0px 0px 2px;
    min-width: auto;
    margin: 0px;
}

.number .number-container button:hover {
    background-color: rgb(217, 221, 228);
}

.number .number-container svg {

}

.number .number-container input {
    color: rgb(13, 41, 85);
    background-color: rgb(250, 250, 251);
    border: 1px solid rgb(217, 221, 228);
    letter-spacing: -0.47px;
    line-height: 20px;
    font-size: 15px;
    padding: 10px 8px;
    height: 30px;
    border-radius: 0px;
    width: 40px;
    text-align: center;
}

/* About The Job */

.box-about-job {
    
}

.box-about-job-title {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.4px;
    margin-top: 0px;
    margin-bottom: 16px;
}

.box-about-job-descripption {

}

.box-about-job-requirements {

}

.post-job-buttons {
    align-self: end;
    margin-top: 1rem;
}