.search-job {

}

.search-job-top {
    background-color: rgb(0, 30, 76);
    width: 166.7%;
    height: 100px;
    position: absolute;
    left: -384px;
    top: 108px;
    z-index: -1;
}

.search-job-top-search-container {
    position: relative;
    top: -22px;
}

.search-job-title {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.5px;
    line-height: 29px;
    margin-bottom: 1rem;
    margin-left: 9rem;
}

.search-job-search {
    width: 75%;
    height: 55px;
    position: relative;
    margin: auto;
    z-index: -1;
}

.search-job-search svg {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%,-50%);
}

.search-job-search input {
    width: 100%;
    height: 55px;
    background-color: rgb(250, 250, 251);
    border: 1px solid rgb(217, 221, 228);
    border-radius: 4px;
    padding: 0 0 0 3rem;
    font-size: 25px;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s, border-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
}

.search-job-search input:focus {
    outline: none;
    border-color: rgb(77, 147, 255);
}

.search-job-search button {
    position: absolute;
    top: 50%;
    right: -85px;
    transform: translate(-50%,-50%);
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    padding: 0px 12px;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    cursor: pointer;
    min-width: 80px;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s, border-color 0.2s ease 0s;
    min-height: 40px;
    line-height: 32px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 85, 217);
    width: 110px;
}

.search-job-content {
    display: flex;
    align-items: start;
    gap: 1rem;
}

.search-job-boxs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.search-job-boxs-box {
    width: 100%;
    height: 140px;
    padding: 16px 24px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(217, 221, 228);
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
}

.search-job-boxs-box-container {
    display: flex;
    flex-direction: column;
}

.search-job-boxs-box-title {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.4px;
    line-height: 24px;
    color: rgb(0, 85, 217);
    margin: 0px;
}

.search-job-boxs-box-company-address {

}

.search-job-boxs-box-company-address a {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.27px;
    line-height: 19px;
    color: rgb(0, 20, 51);
    text-decoration: none;
}

.search-job-boxs-box-company-address span {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.27px;
    line-height: 19px;
    color: rgb(77, 97, 130);
}

.search-job-boxs-box-time-posted {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.27px;
    line-height: 19px;
    color: rgb(44, 146, 102);
}

.search-job-boxs-box-job-type {

}

.search-job-boxs-box-job-type p {
    font-size: 12px;
    font-weight: 600;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: 20px;
    margin-right: 4px;
    max-width: 196px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgb(235, 237, 240);
    color: rgb(0, 20, 51);
    cursor: pointer;
    padding: 0px 4px;
    border-radius: 4px;
}

.search-job-boxs-box-job-tages-data {
    display: flex;
}

.search-job-boxs-box-job-tages-data-experience {
    margin: 0;
}

.search-job-boxs-box-job-tages-data-tags {
    display: flex;
    gap: 5px;
}

.search-job-boxs-box-job-tages-data-tags a {
    text-decoration: none;
    color: inherit;
}

.search-job-boxs-img {
    width: 100px;
    height: 100px;
}

.search-job-boxs-img img {
    width: 100%;
    height: 100%;
}

/* filter */

.search-job-filters {
    width: 350px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(217, 221, 228);
    padding: 16px;
}

.search-job-filters-top {
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(217, 221, 228);
    margin-bottom: 16px;
}

.search-job-filter-title {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.35px;
    line-height: 22px;
    color: rgb(0, 20, 51);
    margin: 0px;
}

.search-job-filter-count {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.3px;
    line-height: 20px;
    color: rgb(128, 142, 165);
}

.search-job-filters-filter-first {
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(217, 221, 228);
    /* margin-bottom: 16px; */
}

.search-job-filters-filter-first-title {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.35px;
    line-height: 22px;
    color: rgb(0, 20, 51);
    margin: 0px;
}

.search-job-filters-filter-first-title span {
    font-size: 12px;
    font-weight: 600;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: 20px;
    margin-right: 4px;
    border-radius: 2px;
    max-width: 196px;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
    text-overflow: ellipsis;
    padding: 0px 2px;
    background-color: rgb(224, 242, 235);
    color: rgb(25, 85, 60);
    margin-left: 4px;
}

.search-job-filters-filter-box {
    margin-left: 1rem;
}

.search-job-filters-filter-box input {

}

.search-job-filters-filter-box label {

}

/* loop filters */

.search-job-filters-filter {
    border-bottom: 1px solid rgb(217, 221, 228);
}

.search-job-filters-filter-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-job-filters-filter-title h4 {

}

.search-job-filters-filter-title svg {

}